In [0]:
sc

In [0]:
spark

In [0]:
import pandas as pd

transactions_data = {
    'transaction_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                        11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'customer_id': [101, 102, 103, 101, 104, 102, 101, 103, 104, 102,
                    101, 103, 104, 102, 101, 103, 104, 102, 101, 103],
    'product_id': [1, 2, 3, 1, 3, 2, 3, 1, 2, 1,
                   2, 3, 1, 2, 3, 1, 2, 1, 3, 2],
    'quantity': [2, 1, 3, 2, 1, 4, 2, 1, 3, 2,
                 1, 2, 3, 2, 1, 4, 1, 2, 3, 2],
    'amount': [20.5, 15.2, 40.0, 25.0, 10.5, 30.0, 18.0, 12.5, 35.0, 22.0,
               15.0, 36.0, 30.0, 20.0, 12.0, 40.0, 10.0, 24.0, 27.0, 18.0]
}

customers_data = {
    'customer_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
                    111, 112, 113, 114, 115],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace',
             'Henry', 'Isabel', 'Jack', 'Kate', 'Liam', 'Mia', 'Noah', 'Olivia'],
    'age': [30, 35, 40, 28, 45, 33, 29, 32, 37, 31, 27, 39, 26, 34, 36],
    'location': ['New York', 'California', 'Texas', 'Florida', 'Washington',
                 'Colorado', 'Arizona', 'Nevada', 'Oregon', 'Utah',
                 'Georgia', 'Minnesota', 'Illinois', 'Maryland', 'Massachusetts']
}

products_data = {
    'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                   11, 12, 13, 14, 15],
    'name': ['Laptop', 'T-Shirt', 'Coffee Maker', 'Headphones', 'Jeans',
             'Blender', 'Smartphone', 'Dress', 'Smart Watch', 'Sneakers',
             'Toaster', 'Tablet', 'Skirt', 'Pressure Cooker', 'TV'],
    'category': ['Electronics', 'Clothing', 'Home & Kitchen', 'Electronics',
                 'Clothing', 'Home & Kitchen', 'Electronics', 'Clothing',
                 'Electronics', 'Clothing', 'Home & Kitchen', 'Electronics',
                 'Clothing', 'Home & Kitchen', 'Electronics'],
    'price': [1200.0, 25.0, 50.0, 80.0, 45.0, 60.0, 1000.0, 30.0, 150.0, 50.0,
              35.0, 800.0, 20.0, 70.0, 1500.0]
}

transactions_df = pd.DataFrame(transactions_data)
customers_df = pd.DataFrame(customers_data)
products_df = pd.DataFrame(products_data)

transactions_df.to_csv('Transactions.csv', index=False)
customers_df.to_csv('Customers.csv', index=False)
products_df.to_csv('Products.csv', index=False)

print("CSV files created successfully.")

CSV files created successfully.

In [0]:
transactions_df = spark.read.csv(
    "file:/Workspace/Users/moteswer99@gmail.com/Transactions.csv",
    header=True,
    inferSchema=True
)
customers_df = spark.read.csv(
    "file:/Workspace/Users/moteswer99@gmail.com/Customers.csv",
    header=True,
    inferSchema=True
)
products_df = spark.read.csv(
    "file:/Workspace/Users/moteswer99@gmail.com/Products.csv",
    header=True,
    inferSchema=True
)

In [0]:
print("first few rows of all the dataframes")
transactions_df.show()
customers_df.show()
products_df.show()

print("Numerical columns")
transactions_df.describe().show()

first few rows of all the dataframes
+--------------+-----------+----------+--------+------+
|transaction_id|customer_id|product_id|quantity|amount|
+--------------+-----------+----------+--------+------+
|             1|        101|         1|       2|  20.5|
|             2|        102|         2|       1|  15.2|
|             3|        103|         3|       3|  40.0|
|             4|        101|         1|       2|  25.0|
|             5|        104|         3|       1|  10.5|
|             6|        102|         2|       4|  30.0|
|             7|        101|         3|       2|  18.0|
|             8|        103|         1|       1|  12.5|
|             9|        104|         2|       3|  35.0|
|            10|        102|         1|       2|  22.0|
|            11|        101|         2|       1|  15.0|
|            12|        103|         3|       2|  36.0|
|            13|        104|         1|       3|  30.0|
|            14|        102|         2|       2|  20.0|
|            15|        101|         3|       1|  12.0|
|            16|        103|         1|       4|  40.0|
|            17|        104|         2|       1|  10.0|
|            18|        102|         1|       2|  24.0|
|            19|        101|         3|       3|  27.0|
|            20|        103|         2|       2|  18.0|
+--------------+-----------+----------+--------+------+

+-----------+-------+---+-------------+
|customer_id|   name|age|     location|
+-----------+-------+---+-------------+
|        101|  Alice| 30|     New York|
|        102|    Bob| 35|   California|
|        103|Charlie| 40|        Texas|
|        104|  David| 28|      Florida|
|        105|    Eve| 45|   Washington|
|        106|  Frank| 33|     Colorado|
|        107|  Grace| 29|      Arizona|
|        108|  Henry| 32|       Nevada|
|        109| Isabel| 37|       Oregon|
|        110|   Jack| 31|         Utah|
|        111|   Kate| 27|      Georgia|
|        112|   Liam| 39|    Minnesota|
|        113|    Mia| 26|     Illinois|
|        114|   Noah| 34|     Maryland|
|        115| Olivia| 36|Massachusetts|
+-----------+-------+---+-------------+

+----------+---------------+--------------+------+
|product_id|           name|      category| price|
+----------+---------------+--------------+------+
|         1|         Laptop|   Electronics|1200.0|
|         2|        T-Shirt|      Clothing|  25.0|
|         3|   Coffee Maker|Home & Kitchen|  50.0|
|         4|     Headphones|   Electronics|  80.0|
|         5|          Jeans|      Clothing|  45.0|
|         6|        Blender|Home & Kitchen|  60.0|
|         7|     Smartphone|   Electronics|1000.0|
|         8|          Dress|      Clothing|  30.0|
|         9|    Smart Watch|   Electronics| 150.0|
|        10|       Sneakers|      Clothing|  50.0|
|        11|        Toaster|Home & Kitchen|  35.0|
|        12|         Tablet|   Electronics| 800.0|
|        13|          Skirt|      Clothing|  20.0|
|        14|Pressure Cooker|Home & Kitchen|  70.0|
|        15|             TV|   Electronics|1500.0|
+----------+---------------+--------------+------+

Numerical columns
+-------+-----------------+------------------+------------------+------------------+----------------+
|summary|   transaction_id|       customer_id|        product_id|          quantity|          amount|
+-------+-----------------+------------------+------------------+------------------+----------------+
|  count|               20|                20|                20|                20|              20|
|   mean|             10.5|            102.35|              1.95|               2.1|          23.035|
| stddev|5.916079783099616|1.1367080817685313|0.8255779474818965|0.9679060415469872|9.61787124931609|
|    min|                1|               101|                 1|                 1|            10.0|
|    max|               20|               104|                 3|                 4|            40.0|
+-------+-----------------+------------------+------------------+------------------+----------------+

In [0]:
print("Count rows in each dataframe")
transactions_count = transactions_df.count()
customers_count = customers_df.count()
products_count = products_df.count()

print(f"Transactions count: {transactions_count}")
print(f"Customers count: {customers_count}")
print(f"Products count: {products_count}")

Count rows in each dataframe
Transactions count: 20
Customers count: 15
Products count: 15

In [0]:
transactions_df.createOrReplaceTempView("transactions")
customers_df.createOrReplaceTempView("customers")
products_df.createOrReplaceTempView("products")

In [0]:
%sql
select * from transactions

transaction_id,customer_id,product_id,quantity,amount
1,101,1,2,20.5
2,102,2,1,15.2
3,103,3,3,40.0
4,101,1,2,25.0
5,104,3,1,10.5
6,102,2,4,30.0
7,101,3,2,18.0
8,103,1,1,12.5
9,104,2,3,35.0
10,102,1,2,22.0
11,101,2,1,15.0
12,103,3,2,36.0
13,104,1,3,30.0
14,102,2,2,20.0
15,101,3,1,12.0
16,103,1,4,40.0
17,104,2,1,10.0
18,102,1,2,24.0
19,101,3,3,27.0
20,103,2,2,18.0

In [0]:
print("JOINING TRANSACTIONS WITH CUSTOMERS TABLE")

joined_df = spark.sql("""
    SELECT t.transaction_id, t.customer_id, t.product_id, t.quantity, t.amount,
           c.name AS customer_name, c.age AS customer_age, c.location AS customer_location
    FROM transactions AS t
    JOIN customers AS c ON t.customer_id = c.customer_id
""")
display(joined_df)

JOINING TRANSACTIONS WITH CUSTOMERS TABLE

transaction_id,customer_id,product_id,quantity,amount,customer_name,customer_age,customer_location
1,101,1,2,20.5,Alice,30,New York
2,102,2,1,15.2,Bob,35,California
3,103,3,3,40.0,Charlie,40,Texas
4,101,1,2,25.0,Alice,30,New York
5,104,3,1,10.5,David,28,Florida
6,102,2,4,30.0,Bob,35,California
7,101,3,2,18.0,Alice,30,New York
8,103,1,1,12.5,Charlie,40,Texas
9,104,2,3,35.0,David,28,Florida
10,102,1,2,22.0,Bob,35,California
11,101,2,1,15.0,Alice,30,New York
12,103,3,2,36.0,Charlie,40,Texas
13,104,1,3,30.0,David,28,Florida
14,102,2,2,20.0,Bob,35,California
15,101,3,1,12.0,Alice,30,New York
16,103,1,4,40.0,Charlie,40,Texas
17,104,2,1,10.0,David,28,Florida
18,102,1,2,24.0,Bob,35,California
19,101,3,3,27.0,Alice,30,New York
20,103,2,2,18.0,Charlie,40,Texas

In [0]:
transactions_df_repartitioned = transactions_df.repartition("customer_id")
transactions_df_repartitioned.cache()

DataFrame[transaction_id: int, customer_id: int, product_id: int, quantity: int, amount: double]

In [0]:
print("CALCULATING AVERAGE ORDER VALUE")

average_order_value = joined_df.groupBy("customer_id").avg("amount")
display(average_order_value)

CALCULATING AVERAGE ORDER VALUE

customer_id,avg(amount)
101,19.583333333333332
103,29.3
102,22.240000000000002
104,21.375

In [0]:
print("TOP SELLING PRODUCTS")
top_selling_products = joined_df.groupBy("product_id").sum("quantity").orderBy("sum(quantity)", ascending=False)
top_selling_products.show()

TOP SELLING PRODUCTS
+----------+-------------+
|product_id|sum(quantity)|
+----------+-------------+
|         1|           16|
|         2|           14|
|         3|           12|
+----------+-------------+

In [0]:
print("TOTAL REVENUE BY PRODUCT CATEGORY")

total_revenue_by_category = spark.sql("""
    SELECT p.category, sum(t.amount) AS total_revenue
    FROM transactions t
    JOIN products p ON t.product_id = p.product_id
    GROUP BY p.category
""")
total_revenue_by_category.show()

TOTAL REVENUE BY PRODUCT CATEGORY
+--------------+-------------+
|      category|total_revenue|
+--------------+-------------+
|Home & Kitchen|        143.5|
|   Electronics|        174.0|
|      Clothing|        143.2|
+--------------+-------------+

In [0]:
print("REPEATED CUSTOMERS")





repeat_customers = transactions_df.groupBy("customer_id").count().filter("count > 1")
repeat_customers.show()

REPEATED CUSTOMERS
+-----------+-----+
|customer_id|count|
+-----------+-----+
|        101|    6|
|        103|    5|
|        102|    5|
|        104|    4|
+-----------+-----+

In [0]:

print("PRODUCT WISE SALES QUANTITY")

product_sales_quantity = spark.sql("""
    SELECT p.name AS product_name, sum(t.quantity) AS total_quantity_sold
    FROM transactions t
    JOIN products p ON t.product_id = p.product_id
    GROUP BY p.name
""")
product_sales_quantity.show()

PRODUCT WISE SALES QUANTITY
+------------+-------------------+
|product_name|total_quantity_sold|
+------------+-------------------+
|      Laptop|                 16|
|     T-Shirt|                 14|
|Coffee Maker|                 12|
+------------+-------------------+